.menu-bar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}
.menu-items a {
  margin-right: 30px;
}
.menu-items {
  padding: 30;
}

input [
    width: 500px;
]

